{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div style="width: 940px;" class="FloatLeft content-part">		
		    <div class="page-head">
        <h3>{% trans 'Forgot Your Password'%}?</h3>
    </div>
        <form name="formValidate" id="form-validate" method="post" action="">
    <fieldset class="">
        <legend>{% trans 'Retrieve your password here'%}</legend>
        <p>{% trans 'Please enter your email below and we will send you a new password'%}.</p>
        <ul class="form-list">
            <li>
                <div class="input-box">
                    <label for="email_address">{% trans 'Email Address'%} <span class="required">*</span></label><br/>
                    <input type="text" value="" class="required-entry validate-email input-text" id="email_address" maxlength="255" alt="email" name="email"/>
                </div>
            </li>
			<li>
				<div class="FloatLeft"><input type="image" src="{{media_url}}skin/templates/flight/images/submitbtn.gif"/></div><div class="FloatLeft linkafterbutton">
				<a class="left" href="/customer/account/login/">« {% trans 'Back to Login'%}</a></div>
			</li>
			<li>
				<p class="required">* {% trans 'Required Fields'%}<br/></p>
			</li>
        </ul>
    </fieldset>
    </form>
	</div>
	
{% endblock %}