.page-head:after,
.page-head-alt:after,
.page-popup .print-head:after,
.clear:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.col2-alt-set:after,
.head:after,
.inner-head:after,
.header-top:after,
.quick-access:after,
.header-nav:after,
#nav:after,
.middle:after,
.product-essential:after,
.more-views ul:after,
.button-set:after,
.actions:after,
.legend:after,
.form-list li:after,
.button-container:after,
.ratings:after,
.page-head:after,
.page-head-alt:after,
.group-select li:after,
.search-autocomplete li:after,
.tool-tip .btn-close:after,
.side-col li:after,
.account-box li:after,
.address-list li:after,
.generic-product-list li:after,
.listing-type-list .listing-item:after,
.listing-type-list .product-info .product-reviews:after,
.my-review-detail:after,
.product-options dt:after,
.product-options-bottom:after,
.product-options dd ul.options-list li:after,
.add-to-holder:after,
.listing-type-grid .grid-row:after,
.advanced-search-summary-box:after,
.shopping-cart-totals .checkout-types:after,
.advanced-search li:after{content:".";display:block;clear:both;font-size:0;line-height:0;height:0;overflow:hidden}