.content_left{width:206px}.float_left{float:left}#left_nav_content{padding-bottom:10px;text-transform:uppercase;margin:5px
20px 0px 15px!important;margin:5px
5px 0px 10px;width:158px}#left_nav_content
ul{margin:0px;padding:0px}#left_nav_content ul
li{list-style-type:none;padding-top:6px;*padding-top:4px}.bottomdots{border-bottom:1px solid #DAE8F3;background-repeat:no-repeat;float:left;height:auto;width:158px;font-weight:bold;padding:7px
0px 7px 0px;*padding:5px
0px 5px 0px}.nodots{height:35px;width:158px;font-weight:bold}#left_nav_content ul li
a{color:#0066A4;text-decoration:none}#left_nav_content .menu ul li
a{color:#64CEF7}#left_nav_content .submenu_item ul li
a{color:#009DDC}.arrow_menu{float:right;margin-right:3px;padding-top:3px}ul.hovermenu{border:1px
solid #676D7B;background-color:#F2F3F4;padding-left:15px}.menu{float:left;display:none}.menu
ul{position:relative;padding:0px;margin:0;list-style-type:none;width:158px !important;width:148px}.menu
li{padding-top:15px;padding-bottom:7px !important;padding-bottom:0px;border-bottom:1px solid #DAE8F3}.menu
li.nomenu{padding-bottom:5px}.menu a, .menu a:visited{padding-left:10px;display:block;text-decoration:none;width:147px !important;width:138px;color:#000}* html .menu a:hover{position:relative}.menu li:hover{position:relative}.submenu_item{display:block;*margin-top:10px}.submenu_item
li{padding:0px}#left_nav_content_store{width:158px;padding-bottom:10px;margin:5px
10px 0px 0px!important;margin:5px
8px 0px 0px;text-transform:uppercase}#left_nav_content_store
ul{margin:0px;padding:0px}#left_nav_content_store ul
li{list-style-type:none;padding-top:7px;*padding-top:4px}#left_nav_content_store ul li
a{color:#0066A4;text-decoration:none}#left_nav_content_store .menu ul li
a{color:#64CEF7}#left_nav_content_store .submenu_item ul li
a{color:#009DDC}.submenu_posts{color:#76D7F0;margin:0px}.menu_store{float:left;display:none}.menu_store
ul{position:relative;padding:0px;margin:0;list-style-type:none;width:158px !important;width:148px}.menu_store
li{padding-top:15px;padding-bottom:3px !important;padding-bottom:1px;border-bottom:1px solid #DAE8F3;width:158px !important;width:148px}.menu_store
li.nomenu{padding-bottom:5px}.menu_store a, .menu_store a:visited{padding-left:10px!important;padding-left:8px
display:block;text-decoration:none;width:147px !important;width:132px;color:#000}